# General
.DS_Store
Thumbs.db
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# VS Code
.vscode/
*.code-workspace

# JetBrains
.idea/

# Build / distribution
dist/
build/
coverage/
*.lcov

# Misc
thumbs.db
.sass-cache
